In [1]:
import pandas as pd
import requests

In [2]:
endpoint_2023 = 'https://api.census.gov/data/2023/acs/acs1?get=NAME,B19013_001E,B06009_002E,B06009_003E,B06009_004E,B06009_005E,B06009_006E,B01003_001E&for=county:*&in=state:47'

response_2023 = requests.get(endpoint_2023)

In [3]:
response_2023

In [4]:
response_2023.text

'[["NAME","B19013_001E","B06009_002E","B06009_003E","B06009_004E","B06009_005E","B06009_006E","B01003_001E","state","county"],\n["Anderson County, Tennessee","57652","6110","17825","16459","11112","5902","80234","47","001"],\n["Blount County, Tennessee","78504","9139","34234","29395","18912","11258","141456","47","009"],\n["Bradley County, Tennessee","61107","8202","25314","24902","11085","7552","111579","47","011"],\n["Davidson County, Tennessee","80379","41728","95843","105890","155280","98612","712334","47","037"],\n["Greene County, Tennessee","54261","7903","20142","16446","6143","2639","72577","47","059"],\n["Hamblen County, Tennessee","53210","5963","17335","13388","6599","4322","66216","47","063"],\n["Hamilton County, Tennessee","73611","20890","63023","83310","60297","40689","379864","47","065"],\n["Knox County, Tennessee","70265","25678","81801","87742","83512","57827","500669","47","093"],\n["Madison County, Tennessee","58702","7429","25160","19466","10109","5991","99193","47","113"],\n["Maury County, Tennessee","72651","4414","29073","21938","16484","5649","110760","47","119"],\n["Montgomery County, Tennessee","75361","10516","41877","48080","29167","21145","239872","47","125"],\n["Putnam County, Tennessee","56368","6729","16342","14215","9159","8268","83844","47","141"],\n["Robertson County, Tennessee","83355","4519","20717","15188","7609","4488","76776","47","147"],\n["Rutherford County, Tennessee","81628","18140","65872","64039","57490","28565","367101","47","149"],\n["Sevier County, Tennessee","59665","9517","23180","23121","10090","5932","99415","47","155"],\n["Shelby County, Tennessee","62413","58126","164202","169251","117422","91484","910042","47","157"],\n["Sullivan County, Tennessee","56481","11202","37949","37340","22193","11490","162135","47","163"],\n["Sumner County, Tennessee","86081","11514","39554","41841","34125","17719","207994","47","165"],\n["Washington County, Tennessee","60729","8617","30014","26147","16485","14787","138420","47","179"],\n["Williamson County, Tennessee","133990","6794","21087","38059","65039","45030","264460","47","187"],\n["Wilson County, Tennessee","96171","5859","32318","33923","28269","14522","163674","47","189"]]'

In [5]:
response_2023 = response_2023.json()

In [6]:
acs_2023 = pd.DataFrame(response_2023)

In [7]:
endpoint_2018 = 'https://api.census.gov/data/2018/acs/acs1?get=NAME,B19013_001E,B06009_002E,B06009_003E,B06009_004E,B06009_005E,B06009_006E,B01003_001E&for=county:*&in=state:47'

response_2018 = requests.get(endpoint_2018)

In [8]:
response_2018

In [9]:
response_2018.text

'[["NAME","B19013_001E","B06009_002E","B06009_003E","B06009_004E","B06009_005E","B06009_006E","B01003_001E","state","county"],\n["Shelby County, Tennessee","47500","73241","175622","173268","116356","77628","935764","47","157"],\n["Davidson County, Tennessee","60856","50850","108339","118525","124607","78986","692587","47","037"],\n["Montgomery County, Tennessee","56019","7201","35280","46119","26479","12702","205950","47","125"],\n["Hamilton County, Tennessee","57280","26858","62509","86859","50319","29506","364286","47","065"],\n["Sullivan County, Tennessee","44652","12683","38303","35612","18515","9511","157668","47","163"],\n["Robertson County, Tennessee","69079","5724","17803","14977","7123","2682","71012","47","147"],\n["Blount County, Tennessee","58809","9545","32709","28242","14340","8537","131349","47","009"],\n["Madison County, Tennessee","45360","8253","21152","19863","10264","6138","97605","47","113"],\n["Williamson County, Tennessee","110700","6206","18884","31473","61268","33506","231729","47","187"],\n["Greene County, Tennessee","47383","7505","19526","14011","5784","3165","69087","47","059"],\n["Putnam County, Tennessee","45199","5199","20615","13192","6481","6152","78843","47","141"],\n["Sevier County, Tennessee","47411","10727","25651","23467","6780","3648","97892","47","155"],\n["Bradley County, Tennessee","50560","10822","22783","23664","8741","6167","106727","47","011"],\n["Knox County, Tennessee","55632","24741","80609","93992","67736","45557","465289","47","093"],\n["Anderson County, Tennessee","50616","6290","17072","17915","6438","6128","76482","47","001"],\n["Rutherford County, Tennessee","63739","17106","56714","69065","44250","17749","324890","47","149"],\n["Wilson County, Tennessee","76756","7166","29639","28947","20548","10807","140625","47","189"],\n["Washington County, Tennessee","48765","10210","23299","25901","17307","12058","128607","47","179"],\n["Maury County, Tennessee","53794","7934","22807","20290","9764","4983","94340","47","119"],\n["Sumner County, Tennessee","65948","14235","39444","41746","23379","10528","187149","47","165"]]'

In [10]:
response_2018 = response_2018.json()

In [11]:
acs_2018 = pd.DataFrame(response_2018)

In [12]:
endpoint_2013 = 'https://api.census.gov/data/2013/acs/acs1?get=NAME,B19013_001E,B06009_002E,B06009_003E,B06009_004E,B06009_005E,B06009_006E,B01003_001E&for=county:*&in=state:47'

response_2013 = requests.get(endpoint_2013)

In [13]:
response_2013

In [14]:
response_2013.text

'[["NAME","B19013_001E","B06009_002E","B06009_003E","B06009_004E","B06009_005E","B06009_006E","B01003_001E","state","county"],\n["Washington County, Tennessee","41349","9015","27076","23018","14338","12459","125546","47","179"],\n["Maury County, Tennessee","45712","6545","21010","18104","8003","3393","83761","47","119"],\n["Robertson County, Tennessee","50510","6948","17531","11585","6095","2595","67383","47","147"],\n["Blount County, Tennessee","44351","11714","32915","24608","11688","6349","125099","47","009"],\n["Madison County, Tennessee","39523","7319","19871","20194","11325","5910","98733","47","113"],\n["Williamson County, Tennessee","88759","4869","21031","28627","46209","26217","198901","47","187"],\n["Greene County, Tennessee","35981","9380","19363","12201","4899","2894","68267","47","059"],\n["Putnam County, Tennessee","31448","6501","18374","11424","6773","3480","73525","47","141"],\n["Sevier County, Tennessee","40715","10865","23870","18320","7687","4221","93570","47","155"],\n["Bradley County, Tennessee","42722","11591","21504","21368","8253","4968","101848","47","011"],\n["Knox County, Tennessee","49165","25241","77695","89165","60105","42859","444622","47","093"],\n["Anderson County, Tennessee","40907","9214","16453","14932","7759","4598","75542","47","001"],\n["Rutherford County, Tennessee","57174","17814","50579","53561","36504","14951","281029","47","149"],\n["Wilson County, Tennessee","56278","8351","24948","26789","15515","7127","121945","47","189"],\n["Sumner County, Tennessee","55917","14688","37520","34551","17904","9497","168888","47","165"],\n["Shelby County, Tennessee","45226","85972","157435","178963","109688","69125","939465","47","157"],\n["Davidson County, Tennessee","47150","57560","104881","116645","104033","63264","658602","47","037"],\n["Montgomery County, Tennessee","51017","9004","31846","41977","21724","6967","184119","47","125"],\n["Hamilton County, Tennessee","47415","31608","64791","78851","41123","23750","348673","47","065"],\n["Sullivan County, Tennessee","40148","16265","41583","32889","13147","9285","156595","47","163"]]'

In [15]:
response_2013 = response_2013.json()

In [16]:
acs_2013 = pd.DataFrame(response_2013)

In [17]:
endpoint_2008 = 'https://api.census.gov/data/2008/acs/acs1?get=NAME,B19013_001E,B06009_002E,B06009_003E,B06009_004E,B06009_005E,B06009_006E,B01003_001E&for=county:*&in=state:47'

response_2008 = requests.get(endpoint_2008)

In [18]:
response_2008

In [19]:
response_2008.text

'[["NAME","B19013_001E","B06009_002E","B06009_003E","B06009_004E","B06009_005E","B06009_006E","B01003_001E","state","county"],\n["Anderson County, Tennessee","45015","8646","18797","14624","7331","4055","74169","47","001"],\n["Blount County, Tennessee","47215","12246","28839","26481","11643","5486","121511","47","009"],\n["Bradley County, Tennessee","39948","13673","18966","20860","6822","4920","96472","47","011"],\n["Davidson County, Tennessee","46153","64540","107545","112131","84868","51052","626144","47","037"],\n["Greene County, Tennessee","35062","10225","20008","11125","4698","2724","66911","47","059"],\n["Hamilton County, Tennessee","47779","28825","62666","70735","43107","21275","332848","47","065"],\n["Knox County, Tennessee","45673","32233","76930","79108","64478","35158","430019","47","093"],\n["Madison County, Tennessee","43164","7985","19237","19844","9695","5044","96376","47","113"],\n["Maury County, Tennessee","46596","8454","20130","17662","6173","2263","81938","47","119"],\n["Montgomery County, Tennessee","47136","8327","28393","37035","13704","7566","154756","47","125"],\n["Putnam County, Tennessee","35445","7815","17334","12145","4615","2688","71160","47","141"],\n["Rutherford County, Tennessee","54012","18751","45492","46876","31714","11032","249270","47","149"],\n["Sevier County, Tennessee","39765","12645","22672","14544","5801","4024","84835","47","155"],\n["Shelby County, Tennessee","45714","85069","153760","173933","101564","60114","906825","47","157"],\n["Sullivan County, Tennessee","41296","18491","37337","32983","15174","7673","153900","47","163"],\n["Sumner County, Tennessee","55167","13885","31717","35425","17340","6359","155474","47","165"],\n["Washington County, Tennessee","43021","11782","23082","22361","15648","8411","118639","47","179"],\n["Williamson County, Tennessee","93321","5508","22357","27773","38452","18977","171452","47","187"],\n["Wilson County, Tennessee","57713","11220","23043","19640","13320","5718","109803","47","189"]]'

In [20]:
response_2008 = response_2008.json()

In [21]:
acs_2008 = pd.DataFrame(response_2008)

acs_2023

In [23]:
acs_2023.dtypes

0    object
1    object
2    object
3    object
4    object
5    object
6    object
7    object
8    object
9    object
dtype: object

In [24]:
acs_2023.columns = acs_2023.iloc[0]
acs_2023 = acs_2023[1:]

In [25]:
acs_2023 = acs_2023.drop(columns={'county', 'state'})

In [26]:
acs_2023 = acs_2023.rename(columns = {'NAME': 'county', 'B19013_001E': 'median_household_income', 'B06009_002E': 'less_than_high_school', 'B06009_003E': 'high_school', 'B06009_004E': 'some_college', 'B06009_005E': 'bachelors_degree', 'B06009_006E': 'graduate_degree', 'B01003_001E':'total_population'})

In [27]:
acs_2023.head(1)

,county,median_household_income,less_than_high_school,high_school,some_college,bachelors_degree,graduate_degree,total_population
1,"Anderson County, Tennessee",57652,6110,17825,16459,11112,5902,80234

In [28]:
acs_2023[['median_household_income', 'less_than_high_school', 'high_school', 'some_college', 'bachelors_degree', 'graduate_degree', 'total_population']] = acs_2023[['median_household_income', 'less_than_high_school', 'high_school', 'some_college', 'bachelors_degree', 'graduate_degree', 'total_population']].astype('int')

In [29]:
acs_2023

,county,median_household_income,less_than_high_school,high_school,some_college,bachelors_degree,graduate_degree,total_population
1,"Anderson County, Tennessee",57652,6110,17825,16459,11112,5902,80234
2,"Blount County, Tennessee",78504,9139,34234,29395,18912,11258,141456
3,"Bradley County, Tennessee",61107,8202,25314,24902,11085,7552,111579
4,"Davidson County, Tennessee",80379,41728,95843,105890,155280,98612,712334
5,"Greene County, Tennessee",54261,7903,20142,16446,6143,2639,72577
6,"Hamblen County, Tennessee",53210,5963,17335,13388,6599,4322,66216
7,"Hamilton County, Tennessee",73611,20890,63023,83310,60297,40689,379864
8,"Knox County, Tennessee",70265,25678,81801,87742,83512,57827,500669
9,"Madison County, Tennessee",58702,7429,25160,19466,10109,5991,99193
10,"Maury County, Tennessee",72651,4414,29073,21938,16484,5649,110760
11,"Montgomery County, Tennessee",75361,10516,41877,48080,29167,21145,239872
12,"Putnam County, Tennessee",56368,6729,16342,14215,9159,8268,83844
13,"Robertson County, Tennessee",83355,4519,20717,15188,7609,4488,76776
14,"Rutherford County, Tennessee",81628,18140,65872,64039,57490,28565,367101
15,"Sevier County, Tennessee",59665,9517,23180,23121,10090,5932,99415
16,"Shelby County, Tennessee",62413,58126,164202,169251,117422,91484,910042
17,"Sullivan County, Tennessee",56481,11202,37949,37340,22193,11490,162135
18,"Sumner County, Tennessee",86081,11514,39554,41841,34125,17719,207994
19,"Washington County, Tennessee",60729,8617,30014,26147,16485,14787,138420
20,"Williamson County, Tennessee",133990,6794,21087,38059,65039,45030,264460
21,"Wilson County, Tennessee",96171,5859,32318,33923,28269,14522,163674

In [30]:
acs_2023.dtypes

0
county                     object
median_household_income     int64
less_than_high_school       int64
high_school                 int64
some_college                int64
bachelors_degree            int64
graduate_degree             int64
total_population            int64
dtype: object

In [31]:
acs_2023.county = acs_2023.county.astype('str')

In [32]:
acs_2023.dtypes

0
county                     object
median_household_income     int64
less_than_high_school       int64
high_school                 int64
some_college                int64
bachelors_degree            int64
graduate_degree             int64
total_population            int64
dtype: object

In [33]:
acs_2023.county = acs_2023.county.str.replace(', Tennessee', '')

In [34]:
acs_2023['year'] = 2023

In [35]:
acs_2023.head(1)

,county,median_household_income,less_than_high_school,high_school,some_college,bachelors_degree,graduate_degree,total_population,year
1,Anderson County,57652,6110,17825,16459,11112,5902,80234,2023

In [36]:
acs_2023 = acs_2023[['year', 'county', 'median_household_income', 'less_than_high_school', 'high_school', 'some_college', 'bachelors_degree', 'graduate_degree', 'total_population']]

In [37]:
acs_2023

,year,county,median_household_income,less_than_high_school,high_school,some_college,bachelors_degree,graduate_degree,total_population
1,2023,Anderson County,57652,6110,17825,16459,11112,5902,80234
2,2023,Blount County,78504,9139,34234,29395,18912,11258,141456
3,2023,Bradley County,61107,8202,25314,24902,11085,7552,111579
4,2023,Davidson County,80379,41728,95843,105890,155280,98612,712334
5,2023,Greene County,54261,7903,20142,16446,6143,2639,72577
6,2023,Hamblen County,53210,5963,17335,13388,6599,4322,66216
7,2023,Hamilton County,73611,20890,63023,83310,60297,40689,379864
8,2023,Knox County,70265,25678,81801,87742,83512,57827,500669
9,2023,Madison County,58702,7429,25160,19466,10109,5991,99193
10,2023,Maury County,72651,4414,29073,21938,16484,5649,110760
11,2023,Montgomery County,75361,10516,41877,48080,29167,21145,239872
12,2023,Putnam County,56368,6729,16342,14215,9159,8268,83844
13,2023,Robertson County,83355,4519,20717,15188,7609,4488,76776
14,2023,Rutherford County,81628,18140,65872,64039,57490,28565,367101
15,2023,Sevier County,59665,9517,23180,23121,10090,5932,99415
16,2023,Shelby County,62413,58126,164202,169251,117422,91484,910042
17,2023,Sullivan County,56481,11202,37949,37340,22193,11490,162135
18,2023,Sumner County,86081,11514,39554,41841,34125,17719,207994
19,2023,Washington County,60729,8617,30014,26147,16485,14787,138420
20,2023,Williamson County,133990,6794,21087,38059,65039,45030,264460
21,2023,Wilson County,96171,5859,32318,33923,28269,14522,163674

acs_2018

In [39]:
acs_2018

,0,1,2,3,4,5,6,7,8,9
0,NAME,B19013_001E,B06009_002E,B06009_003E,B06009_004E,B06009_005E,B06009_006E,B01003_001E,state,county
1,"Shelby County, Tennessee",47500,73241,175622,173268,116356,77628,935764,47,157
2,"Davidson County, Tennessee",60856,50850,108339,118525,124607,78986,692587,47,037
3,"Montgomery County, Tennessee",56019,7201,35280,46119,26479,12702,205950,47,125
4,"Hamilton County, Tennessee",57280,26858,62509,86859,50319,29506,364286,47,065
5,"Sullivan County, Tennessee",44652,12683,38303,35612,18515,9511,157668,47,163
6,"Robertson County, Tennessee",69079,5724,17803,14977,7123,2682,71012,47,147
7,"Blount County, Tennessee",58809,9545,32709,28242,14340,8537,131349,47,009
8,"Madison County, Tennessee",45360,8253,21152,19863,10264,6138,97605,47,113
9,"Williamson County, Tennessee",110700,6206,18884,31473,61268,33506,231729,47,187
10,"Greene County, Tennessee",47383,7505,19526,14011,5784,3165,69087,47,059
11,"Putnam County, Tennessee",45199,5199,20615,13192,6481,6152,78843,47,141
12,"Sevier County, Tennessee",47411,10727,25651,23467,6780,3648,97892,47,155
13,"Bradley County, Tennessee",50560,10822,22783,23664,8741,6167,106727,47,011
14,"Knox County, Tennessee",55632,24741,80609,93992,67736,45557,465289,47,093
15,"Anderson County, Tennessee",50616,6290,17072,17915,6438,6128,76482,47,001
16,"Rutherford County, Tennessee",63739,17106,56714,69065,44250,17749,324890,47,149
17,"Wilson County, Tennessee",76756,7166,29639,28947,20548,10807,140625,47,189
18,"Washington County, Tennessee",48765,10210,23299,25901,17307,12058,128607,47,179
19,"Maury County, Tennessee",53794,7934,22807,20290,9764,4983,94340,47,119
20,"Sumner County, Tennessee",65948,14235,39444,41746,23379,10528,187149,47,165

In [40]:
acs_2018.dtypes

0    object
1    object
2    object
3    object
4    object
5    object
6    object
7    object
8    object
9    object
dtype: object

In [41]:
acs_2018.columns = acs_2018.iloc[0]
acs_2018 = acs_2018[1:]

In [42]:
acs_2018 = acs_2018.drop(columns={'county', 'state'})

In [43]:
acs_2018 = acs_2018.rename(columns = {'NAME': 'county', 'B19013_001E': 'median_household_income', 'B06009_002E': 'less_than_high_school', 'B06009_003E': 'high_school', 'B06009_004E': 'some_college', 'B06009_005E': 'bachelors_degree', 'B06009_006E': 'graduate_degree', 'B01003_001E':'total_population'})

In [44]:
acs_2018[['median_household_income', 'less_than_high_school', 'high_school', 'some_college', 'bachelors_degree', 'graduate_degree', 'total_population']] = acs_2023[['median_household_income', 'less_than_high_school', 'high_school', 'some_college', 'bachelors_degree', 'graduate_degree', 'total_population']].astype('int')

In [45]:
acs_2018

,county,median_household_income,less_than_high_school,high_school,some_college,bachelors_degree,graduate_degree,total_population
1,"Shelby County, Tennessee",57652,6110,17825,16459,11112,5902,80234
2,"Davidson County, Tennessee",78504,9139,34234,29395,18912,11258,141456
3,"Montgomery County, Tennessee",61107,8202,25314,24902,11085,7552,111579
4,"Hamilton County, Tennessee",80379,41728,95843,105890,155280,98612,712334
5,"Sullivan County, Tennessee",54261,7903,20142,16446,6143,2639,72577
6,"Robertson County, Tennessee",53210,5963,17335,13388,6599,4322,66216
7,"Blount County, Tennessee",73611,20890,63023,83310,60297,40689,379864
8,"Madison County, Tennessee",70265,25678,81801,87742,83512,57827,500669
9,"Williamson County, Tennessee",58702,7429,25160,19466,10109,5991,99193
10,"Greene County, Tennessee",72651,4414,29073,21938,16484,5649,110760
11,"Putnam County, Tennessee",75361,10516,41877,48080,29167,21145,239872
12,"Sevier County, Tennessee",56368,6729,16342,14215,9159,8268,83844
13,"Bradley County, Tennessee",83355,4519,20717,15188,7609,4488,76776
14,"Knox County, Tennessee",81628,18140,65872,64039,57490,28565,367101
15,"Anderson County, Tennessee",59665,9517,23180,23121,10090,5932,99415
16,"Rutherford County, Tennessee",62413,58126,164202,169251,117422,91484,910042
17,"Wilson County, Tennessee",56481,11202,37949,37340,22193,11490,162135
18,"Washington County, Tennessee",86081,11514,39554,41841,34125,17719,207994
19,"Maury County, Tennessee",60729,8617,30014,26147,16485,14787,138420
20,"Sumner County, Tennessee",133990,6794,21087,38059,65039,45030,264460

In [46]:
acs_2018.dtypes

0
county                     object
median_household_income     int64
less_than_high_school       int64
high_school                 int64
some_college                int64
bachelors_degree            int64
graduate_degree             int64
total_population            int64
dtype: object

In [47]:
acs_2018.county = acs_2018.county.astype('str')

In [48]:
acs_2018.dtypes

0
county                     object
median_household_income     int64
less_than_high_school       int64
high_school                 int64
some_college                int64
bachelors_degree            int64
graduate_degree             int64
total_population            int64
dtype: object

In [49]:
acs_2018.county = acs_2018.county.str.replace(', Tennessee', '')

In [50]:
acs_2018['year'] = 2018

In [51]:
acs_2018 = acs_2018[['year', 'county', 'median_household_income', 'less_than_high_school', 'high_school', 'some_college', 'bachelors_degree', 'graduate_degree', 'total_population']]

In [52]:
acs_2018

,year,county,median_household_income,less_than_high_school,high_school,some_college,bachelors_degree,graduate_degree,total_population
1,2018,Shelby County,57652,6110,17825,16459,11112,5902,80234
2,2018,Davidson County,78504,9139,34234,29395,18912,11258,141456
3,2018,Montgomery County,61107,8202,25314,24902,11085,7552,111579
4,2018,Hamilton County,80379,41728,95843,105890,155280,98612,712334
5,2018,Sullivan County,54261,7903,20142,16446,6143,2639,72577
6,2018,Robertson County,53210,5963,17335,13388,6599,4322,66216
7,2018,Blount County,73611,20890,63023,83310,60297,40689,379864
8,2018,Madison County,70265,25678,81801,87742,83512,57827,500669
9,2018,Williamson County,58702,7429,25160,19466,10109,5991,99193
10,2018,Greene County,72651,4414,29073,21938,16484,5649,110760
11,2018,Putnam County,75361,10516,41877,48080,29167,21145,239872
12,2018,Sevier County,56368,6729,16342,14215,9159,8268,83844
13,2018,Bradley County,83355,4519,20717,15188,7609,4488,76776
14,2018,Knox County,81628,18140,65872,64039,57490,28565,367101
15,2018,Anderson County,59665,9517,23180,23121,10090,5932,99415
16,2018,Rutherford County,62413,58126,164202,169251,117422,91484,910042
17,2018,Wilson County,56481,11202,37949,37340,22193,11490,162135
18,2018,Washington County,86081,11514,39554,41841,34125,17719,207994
19,2018,Maury County,60729,8617,30014,26147,16485,14787,138420
20,2018,Sumner County,133990,6794,21087,38059,65039,45030,264460

acs_2013

In [54]:
acs_2013

,0,1,2,3,4,5,6,7,8,9
0,NAME,B19013_001E,B06009_002E,B06009_003E,B06009_004E,B06009_005E,B06009_006E,B01003_001E,state,county
1,"Washington County, Tennessee",41349,9015,27076,23018,14338,12459,125546,47,179
2,"Maury County, Tennessee",45712,6545,21010,18104,8003,3393,83761,47,119
3,"Robertson County, Tennessee",50510,6948,17531,11585,6095,2595,67383,47,147
4,"Blount County, Tennessee",44351,11714,32915,24608,11688,6349,125099,47,009
5,"Madison County, Tennessee",39523,7319,19871,20194,11325,5910,98733,47,113
6,"Williamson County, Tennessee",88759,4869,21031,28627,46209,26217,198901,47,187
7,"Greene County, Tennessee",35981,9380,19363,12201,4899,2894,68267,47,059
8,"Putnam County, Tennessee",31448,6501,18374,11424,6773,3480,73525,47,141
9,"Sevier County, Tennessee",40715,10865,23870,18320,7687,4221,93570,47,155
10,"Bradley County, Tennessee",42722,11591,21504,21368,8253,4968,101848,47,011
11,"Knox County, Tennessee",49165,25241,77695,89165,60105,42859,444622,47,093
12,"Anderson County, Tennessee",40907,9214,16453,14932,7759,4598,75542,47,001
13,"Rutherford County, Tennessee",57174,17814,50579,53561,36504,14951,281029,47,149
14,"Wilson County, Tennessee",56278,8351,24948,26789,15515,7127,121945,47,189
15,"Sumner County, Tennessee",55917,14688,37520,34551,17904,9497,168888,47,165
16,"Shelby County, Tennessee",45226,85972,157435,178963,109688,69125,939465,47,157
17,"Davidson County, Tennessee",47150,57560,104881,116645,104033,63264,658602,47,037
18,"Montgomery County, Tennessee",51017,9004,31846,41977,21724,6967,184119,47,125
19,"Hamilton County, Tennessee",47415,31608,64791,78851,41123,23750,348673,47,065
20,"Sullivan County, Tennessee",40148,16265,41583,32889,13147,9285,156595,47,163

In [55]:
acs_2013.columns = acs_2013.iloc[0]
acs_2013 = acs_2013[1:]

In [56]:
acs_2013 = acs_2013.drop(columns={'county', 'state'})

In [57]:
acs_2013 = acs_2013.rename(columns = {'NAME': 'county', 'B19013_001E': 'median_household_income', 'B06009_002E': 'less_than_high_school', 'B06009_003E': 'high_school', 'B06009_004E': 'some_college', 'B06009_005E': 'bachelors_degree', 'B06009_006E': 'graduate_degree', 'B01003_001E':'total_population'})

In [58]:
acs_2013[['median_household_income', 'less_than_high_school', 'high_school', 'some_college', 'bachelors_degree', 'graduate_degree', 'total_population']] = acs_2023[['median_household_income', 'less_than_high_school', 'high_school', 'some_college', 'bachelors_degree', 'graduate_degree', 'total_population']].astype('int')

In [59]:
acs_2013.county = acs_2013.county.astype('str')

In [60]:
acs_2013.dtypes

0
county                     object
median_household_income     int64
less_than_high_school       int64
high_school                 int64
some_college                int64
bachelors_degree            int64
graduate_degree             int64
total_population            int64
dtype: object

In [61]:
acs_2013.county = acs_2013.county.str.replace(', Tennessee', '')

In [62]:
acs_2013['year'] = 2013

In [63]:
acs_2013 = acs_2013[['year', 'county', 'median_household_income', 'less_than_high_school', 'high_school', 'some_college', 'bachelors_degree', 'graduate_degree', 'total_population']]

In [64]:
acs_2013

,year,county,median_household_income,less_than_high_school,high_school,some_college,bachelors_degree,graduate_degree,total_population
1,2013,Washington County,57652,6110,17825,16459,11112,5902,80234
2,2013,Maury County,78504,9139,34234,29395,18912,11258,141456
3,2013,Robertson County,61107,8202,25314,24902,11085,7552,111579
4,2013,Blount County,80379,41728,95843,105890,155280,98612,712334
5,2013,Madison County,54261,7903,20142,16446,6143,2639,72577
6,2013,Williamson County,53210,5963,17335,13388,6599,4322,66216
7,2013,Greene County,73611,20890,63023,83310,60297,40689,379864
8,2013,Putnam County,70265,25678,81801,87742,83512,57827,500669
9,2013,Sevier County,58702,7429,25160,19466,10109,5991,99193
10,2013,Bradley County,72651,4414,29073,21938,16484,5649,110760
11,2013,Knox County,75361,10516,41877,48080,29167,21145,239872
12,2013,Anderson County,56368,6729,16342,14215,9159,8268,83844
13,2013,Rutherford County,83355,4519,20717,15188,7609,4488,76776
14,2013,Wilson County,81628,18140,65872,64039,57490,28565,367101
15,2013,Sumner County,59665,9517,23180,23121,10090,5932,99415
16,2013,Shelby County,62413,58126,164202,169251,117422,91484,910042
17,2013,Davidson County,56481,11202,37949,37340,22193,11490,162135
18,2013,Montgomery County,86081,11514,39554,41841,34125,17719,207994
19,2013,Hamilton County,60729,8617,30014,26147,16485,14787,138420
20,2013,Sullivan County,133990,6794,21087,38059,65039,45030,264460

acs_2008

In [66]:
acs_2008

,0,1,2,3,4,5,6,7,8,9
0,NAME,B19013_001E,B06009_002E,B06009_003E,B06009_004E,B06009_005E,B06009_006E,B01003_001E,state,county
1,"Anderson County, Tennessee",45015,8646,18797,14624,7331,4055,74169,47,001
2,"Blount County, Tennessee",47215,12246,28839,26481,11643,5486,121511,47,009
3,"Bradley County, Tennessee",39948,13673,18966,20860,6822,4920,96472,47,011
4,"Davidson County, Tennessee",46153,64540,107545,112131,84868,51052,626144,47,037
5,"Greene County, Tennessee",35062,10225,20008,11125,4698,2724,66911,47,059
6,"Hamilton County, Tennessee",47779,28825,62666,70735,43107,21275,332848,47,065
7,"Knox County, Tennessee",45673,32233,76930,79108,64478,35158,430019,47,093
8,"Madison County, Tennessee",43164,7985,19237,19844,9695,5044,96376,47,113
9,"Maury County, Tennessee",46596,8454,20130,17662,6173,2263,81938,47,119
10,"Montgomery County, Tennessee",47136,8327,28393,37035,13704,7566,154756,47,125
11,"Putnam County, Tennessee",35445,7815,17334,12145,4615,2688,71160,47,141
12,"Rutherford County, Tennessee",54012,18751,45492,46876,31714,11032,249270,47,149
13,"Sevier County, Tennessee",39765,12645,22672,14544,5801,4024,84835,47,155
14,"Shelby County, Tennessee",45714,85069,153760,173933,101564,60114,906825,47,157
15,"Sullivan County, Tennessee",41296,18491,37337,32983,15174,7673,153900,47,163
16,"Sumner County, Tennessee",55167,13885,31717,35425,17340,6359,155474,47,165
17,"Washington County, Tennessee",43021,11782,23082,22361,15648,8411,118639,47,179
18,"Williamson County, Tennessee",93321,5508,22357,27773,38452,18977,171452,47,187
19,"Wilson County, Tennessee",57713,11220,23043,19640,13320,5718,109803,47,189

In [67]:
acs_2008.columns = acs_2008.iloc[0]
acs_2008 = acs_2008[1:]

In [68]:
acs_2008 = acs_2008.drop(columns={'county', 'state'})

In [69]:
acs_2008 = acs_2008.rename(columns = {'NAME': 'county', 'B19013_001E': 'median_household_income', 'B06009_002E': 'less_than_high_school', 'B06009_003E': 'high_school', 'B06009_004E': 'some_college', 'B06009_005E': 'bachelors_degree', 'B06009_006E': 'graduate_degree', 'B01003_001E':'total_population'})

In [70]:
acs_2008[['median_household_income', 'less_than_high_school', 'high_school', 'some_college', 'bachelors_degree', 'graduate_degree', 'total_population']] = acs_2023[['median_household_income', 'less_than_high_school', 'high_school', 'some_college', 'bachelors_degree', 'graduate_degree', 'total_population']].astype('int')

In [71]:
acs_2008.county = acs_2008.county.astype('str')

In [72]:
acs_2008.county = acs_2008.county.str.replace(', Tennessee', '')

In [73]:
acs_2008['year'] = 2008

In [74]:
acs_2008 = acs_2008[['year', 'county', 'median_household_income', 'less_than_high_school', 'high_school', 'some_college', 'bachelors_degree', 'graduate_degree', 'total_population']]

In [75]:
acs_2008

,year,county,median_household_income,less_than_high_school,high_school,some_college,bachelors_degree,graduate_degree,total_population
1,2008,Anderson County,57652,6110,17825,16459,11112,5902,80234
2,2008,Blount County,78504,9139,34234,29395,18912,11258,141456
3,2008,Bradley County,61107,8202,25314,24902,11085,7552,111579
4,2008,Davidson County,80379,41728,95843,105890,155280,98612,712334
5,2008,Greene County,54261,7903,20142,16446,6143,2639,72577
6,2008,Hamilton County,53210,5963,17335,13388,6599,4322,66216
7,2008,Knox County,73611,20890,63023,83310,60297,40689,379864
8,2008,Madison County,70265,25678,81801,87742,83512,57827,500669
9,2008,Maury County,58702,7429,25160,19466,10109,5991,99193
10,2008,Montgomery County,72651,4414,29073,21938,16484,5649,110760
11,2008,Putnam County,75361,10516,41877,48080,29167,21145,239872
12,2008,Rutherford County,56368,6729,16342,14215,9159,8268,83844
13,2008,Sevier County,83355,4519,20717,15188,7609,4488,76776
14,2008,Shelby County,81628,18140,65872,64039,57490,28565,367101
15,2008,Sullivan County,59665,9517,23180,23121,10090,5932,99415
16,2008,Sumner County,62413,58126,164202,169251,117422,91484,910042
17,2008,Washington County,56481,11202,37949,37340,22193,11490,162135
18,2008,Williamson County,86081,11514,39554,41841,34125,17719,207994
19,2008,Wilson County,60729,8617,30014,26147,16485,14787,138420

In [76]:
acs_combined = pd.concat([acs_2023, acs_2018, acs_2013, acs_2008])

In [154]:
acs_combined.dtypes

0
year                        int64
county                     object
median_household_income     int64
less_than_high_school       int64
high_school                 int64
some_college                int64
bachelors_degree            int64
graduate_degree             int64
total_population            int64
dtype: object

In [160]:
acs_combined['county'] = acs_combined['county'].astype('str')

In [166]:
acs_combined['county'] = acs_combined['county'].str.replace(' County', '')

In [168]:
acs_combined

,year,county,median_household_income,less_than_high_school,high_school,some_college,bachelors_degree,graduate_degree,total_population
1,2023,Anderson,57652,6110,17825,16459,11112,5902,80234
2,2023,Blount,78504,9139,34234,29395,18912,11258,141456
3,2023,Bradley,61107,8202,25314,24902,11085,7552,111579
4,2023,Davidson,80379,41728,95843,105890,155280,98612,712334
5,2023,Greene,54261,7903,20142,16446,6143,2639,72577
...,...,...,...,...,...,...,...,...,...
15,2008,Sullivan,59665,9517,23180,23121,10090,5932,99415
16,2008,Sumner,62413,58126,164202,169251,117422,91484,910042
17,2008,Washington,56481,11202,37949,37340,22193,11490,162135
18,2008,Williamson,86081,11514,39554,41841,34125,17719,207994
19,2008,Wilson,60729,8617,30014,26147,16485,14787,138420

In [170]:
acs_combined.to_csv('acs_combined.csv')